[report]
omit = 
      */venv/*
      */python?.?/*
      */__pycache__/
      *.py[cod]
      *$py.class
      */.pyc
      *views/app_views.py
      */.pytest_cache/*
      */simplejson/*
      */usr/lib/python3/dist-packages/*
      *__init__.py
